body {
    text-align: center;
}
#welcome {
    width:1000px;
    height:650px
}
img {
    width:350px;
    height: 200px;
}
#mycarousel {
    background-color: coral;
}
.flowers {
    display: inline;
}
#mycarousel img {
    height: 300px;
    margin-top: 35px;
}
